:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* margin-top: -5%; */

  color-scheme: light dark;
  color: #181818;
  background-color: #d9d9d9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #d9d9d9;
  text-decoration: inherit;
}
a:hover {
  /* color: #003300; */
  color: #CCFFCC;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #330000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #181818;
    background-color: #d9d9d9;
  }
  a:hover {
    color: #003300;
  }
  button {
    background-color: #f9f9f9;
  }
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo-image {
  width: 70px;
  height: 70px;
}

.ContactForm {
  margin: 0 auto;
}

.main-text-contact {
  font-size: 18px;
}

.projectCarousel{
  width: 90%;
}
